:root {
    --landscape-rows: 18;
    --landscape-columns: 32;
}

img {
    width: 100%;
    /* aspect-ratio: 16/ 9; */
}

.grid-container {
    position: relative;
    display: grid;
    gap: 0px;
    padding: 0px;
}
.grid-container img {
    z-index: 0;
}

.station {
    z-index: 1;
    background: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
}

@media (orientation: landscape) {
    .grid-container {
        grid-template-rows: repeat(var(--landscape-rows), 1fr);
        grid-template-columns: repeat(var(--landscape-columns), 1fr);
    }

    .grid-container img {
        grid-row: 1 / calc(var(--landscape-rows) + 1);
        grid-column: 1 / calc(var(--landscape-columns) + 1);
    }

    .portrait {
        display: none;
    }
}

@media (orientation: portrait) {
    .grid-container {
        grid-template-rows: repeat(var(--landscape-columns), 1fr);
        grid-template-columns: repeat(var(--landscape-rows), 1fr);
    }

    .grid-container img {
        grid-row: 1 / calc(var(--landscape-columns) + 1);;
        grid-column: 1 / calc(var(--landscape-rows) + 1);;
    }

    .landscape {
        display: none;
    }
}

.grid-item:hover {
    cursor: pointer;
    background-color: aqua;
}

/* The Modal (background) */
.modal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 5vw, 3rem);
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 7rem;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -20rem;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -20rem;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    font-size: clamp(1.75rem, 5vw, 3rem);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1em;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 0.2em 1em;
}

.modal-footer {
    padding: 0.2em 1em;
    background-color: #5cb85c;
    color: white;
}